.Main{
    min-height: 307px;
    background-color: #F8F9FB;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 102px;
    padding-top: 81px;
    padding-bottom: 62px;
}

.Heading{
    font-size: 25px;
    font-family: Gilroy-SemiBold,sans-serif;
    font-weight: 600;
    line-height: 30px;
}

.ButtonsMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Content{
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.Button{
    width: 258px;
    height: 160px;
    background-color: #ffffff;
    border: 1.3px dashed #0071C5;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddIconImage{
    width: 57px;
    height: 57px;
    border: 1.5px solid #0071C5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Message{
    width: 294px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gilroy-Medium,sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-left: -1px;
    color: #292929;
}

.MessageIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.TriangleIcon{
    width: 19px;
    height: 19px;
}

.plus{
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0071C5;
}

.model{
    width: 694px;
    height: 343px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 15px;
    border-radius: 6px;
    outline: none;
}

.ModelHeading{
    height: 93px;
    width: 100%;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: none none solid;
    font-family: Gilroy-SemiBold,sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 346px;
}

.CrossIcon{
    width: 24px;
    height: 24px;
}

.Input{
    display: flex;
    flex-direction: column;
    padding-top: 31px;
    padding-left: 57px;
    margin-bottom: 44px;
}

.lable{
    font-family: Gilroy-Medium,sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 25px;
}

.InputArea{
    height: 30px;
    width: 542px;
    font-family: Gilroy-Regular,sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 27px;
    border-width: 1px;
    border-color:#0071C5;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 6px;
}

.SaveBtn{
    width: 144px;
    height: 50px;
    border-radius: 6px;
    font-family: Gilroy-SemiBold,sans-serif;
    color: #ffffff;
    font-size: 22px;
    background: #0071c5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 497px;
}

.MainDark{
    background-color: #202020;
    color:#ffffff;
}
.MainLight{
    background-color: #f8f9fb;
    color:#202020;
}

.MessageDark{
    background-color: #303030;
    color: #ffffff;
}
.MessageLight{
    background-color:#FFFFFF;
    color: #292929;

}
