<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openbot Web Server</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
    <style type="text/css">
        h1, h2, h3 {
            font-weight: normal;
        }
        body {
            font-family: 'Roboto', sans-serif;
        }
        .list {
            display: grid;
            margin: 20px 0;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, 300px);
        }
        form {
            margin: 3em 0;
        }
    </style>
</head>
<body>
<a href="/">
    <h1 class="text-3xl">Openbot Server</h1>
</a>
{% include action+".html" %}
<script src="http://localhost:8001/livereload.js"></script>
</body>
</html>
