<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openbot Web Server</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        h1, h2, h3 {
            font-weight: normal;
        }
        body {
            font-family: 'Roboto', sans-serif;
        }
        .list div {
            margin: 1em 0;
        }
        form {
            margin: 3em 0;
        }
    </style>
</head>
<body>
<h1>Openbot Server</h1>
<h2>Dirs in dataset/{{ path }}</h2>
{% if path %}
<div><a href="/">Back to ROOT dir</a></div>
<div><a href="..">Back to parent dir</a></div>
{% endif %}
<div class="list">
    {% for item in file_list %}
    <div>
        <div>
            <a href="{{ item.name }}/">
                {% if item.is_dataset %}
                <img src="{{ item.name }}/preview.gif" alt="preview"><br/>
                {% endif %}
                {{ item.name }}
            </a>
            ({{ item.images if item.is_dataset else item.dirs }})

            <pre>{{ item | tojson(2) }}</pre>
        </div>

    </div>
    {% endfor %}
</div>
<form method="post" action="/upload" enctype="multipart/form-data">
    <h2>Upload log manually</h2>
    <label>File</label>
    <input name="file" type="file"/>
    <button type="submit">Upload</button>
</form>
</body>
</html>
