* {
    margin: 0;
}

#dark {
    background-color: #202020;
}

#light {
    background-color: #ffffff;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/font/Gilroy/Gilroy-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    /*400*/
    src: url('assets/font/Gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    /*500*/
    src: url('assets/font/Gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    /*600*/
    src: url('assets/font/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    /*700*/
    src: url('assets/font/Gilroy/Gilroy-Bold.ttf') format('truetype');
}




