/vendor
composer.phar
composer.lock
.phpunit.result.cache
/phpunit.xml
.DS_Store
Thumbs.db
wandb/
/ios/OpenBot/Pods/
ios/OpenBot/OpenBot.xcodeproj/xcuserdata/*.xcuserdatad/
ios/OpenBot/OpenBot.xcworkspace/xcuserdata/*.xcuserdatad/
ios/OpenBot/Podfile.lock/

# IDE's
.idea/
/.vscode
.classpath
.project
.settings/

# build
/bin

