tensorflow==2.8.0
notebook>=6.4.3
matplotlib>=3.4.3
pillow>=8.3.1
aiohttp[speedups]>=3.7.4
aiohttp-devtools>=0.13.1
aiohttp_json_rpc>=0.13.3
aiozeroconf>=0.1.8
imageio>=2.9.0
openbot_frontend==0.7.0
numpyencoder>=0.3.0
black[jupyter]
