.chatMainContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.chatBottomBar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.inputField {
    flex: 1;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 16px;
    box-sizing: border-box;
    outline: none;
    background-color:#FFFFFF;
}

.sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;  /* Center align icon vertically */
}

.sendButton:hover {
    background-color: #3e8e41;
}

.sendIcon {
    width: 30px;
    height: 30px;
    gap: 5px;
}

.chatHeader {
    text-align: center;
    text-decoration-color: white;
    background-color:#FFFFFF;
    font-family: Gilroy-Medium, sans-serif;
    color: black;
    padding: 10px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}