export const FooterStyle = {
    footerDiv: {
        display: "flex",
        backgroundColor: "red",
        justifyContent: "space-between",
        height: "8rem",
        alignItems: "center",
    },

    footerTextDiv: {
        marginLeft: "4.25rem",
    },

    footerIconDiv: {
        display: "flex",
        alignItems: "center",
        marginRight: "4.25rem",
    },

    youtubePic: {
        height: "2.5rem",
        width: "2.5rem"
    },

    webPic: {
        height: "2.5rem",
        width: "2.5rem"
    },

    playStorePic: {
        height: "3rem",
        width: "8rem",
    },
    appStorePic: {
        height: "3rem",
        width: "8rem"
    },

    iconMargin: {
        margin: 10
    },

    textFont: {
        fontSize: "1.1em",
        fontFamily: "Gilroy-Bold"
    },

};