.Main {
    width: 21.4%;
    min-width: 308px;
    min-height: 100vh;
    padding-top: 61px;
    border-width: 1px;
    border-style: none solid none none;
}

.MainDark {
    border-color: #4c4d4c;
}

.MainLight {
    border-color: rgb(204, 204, 204);
}

.IconContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Items {
    display: flex;
    height: 43px;
    gap: 0px 15px;
    padding-left: 66px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.ItemsSelected {
    display: flex;
    height: 43px;
    gap: 0px 15px;
    padding-left: 66px;
    align-items: center;
    justify-content: flex-start;
    border-width: 4.38px;
    background: rgb(232, 246, 254);
    border-color: rgb(0, 113, 197);
    border-style: none none none solid;
    cursor: pointer;
}


.Icon {
    width: 24px;
    height: 24px;

}

.Content {
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.01em;

}

.ContentDark {
    color: #FFFFFF;

}

.ContentLight {
    color: rgb(0, 113, 197);
}


.ItemsSelectedDark {
    display: flex;
    height: 43px;
    gap: 0px 15px;
    padding-left: 66px;
    align-items: center;
    justify-content: flex-start;
    border-width: 4.38px;
    background: #57626c;
    border-color: rgb(0, 113, 197);
    border-style: none none none solid;
    cursor: pointer;
}
