/* Light Theme */
.heading1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #0071c5;
}

.heading2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color:#0071c5;
}
.heading3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color:#0071c5;
}

.paragraph {
    margin-bottom: 1em;
    color: #000000;
}

.strong {
    font-weight: bold;
    color: #0071c5;
}

.em {
    font-style: italic;
    color: #555555;
}

.list {
    padding-left: 20px;
    color: #000000;
}

.orderedList {
    padding-left: 20px;
    list-style-type: decimal;
    color:#000000;
}

.listItem {
    margin-bottom: 0.5em;
    color: #000000;
}

.blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #CCCCCC;
    background-color: #F5F5F5;
    color: #666666;
}

.code {
    font-family: monospace;
    background-color: #F5F5F5;
    padding: 2px 4px;
    border-radius: 3px;
    color: #d56235;
}

/* Dark Theme */
.darkTheme .heading1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #D63384;
}

.darkTheme .heading2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #D63384;
}

.darkTheme.heading3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #D63384;
}

.darkTheme.paragraph {
    margin-bottom: 1em;
    color: #FFFFFF;
}

.darkTheme .strong {
    font-weight: bold;
    color: #63bcf3;
}

.darkTheme .em {
    font-style: italic;
    color: #1d6c01;
}

.darkTheme .list {
    padding-left: 20px;
    color: #FFFFFF;
}

.darkTheme .orderedList {
    padding-left: 20px;
    list-style-type: decimal;
    color: #FFFFFF;
}

.darkTheme .listItem {
    margin-bottom: 0.5em;
    color: #FFFFFF;
}

.darkTheme .blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #333333;
    background-color: #1A1A1A;
}

.darkTheme .code {
    font-family: monospace;
    background-color: #1E1E1E;
    padding: 2px 4px;
    border-radius: 3px;
    color: #d56235;
}
