.responseBox {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    color: black;

}
.responseContent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: black;
}

.chatBubble {
    display: flex;
    flex-direction: column;
    gap: 28px;
    color: #FFFFFF;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 18px;
    padding: 28px 28px 0 28px;
}

.userMessage {
    align-self: flex-end;
    background-color: #0071C5;
    border-radius: 12px;
    padding: 20px;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 13px;

}









