.responseBox {
    padding: 15px;
    border-radius: 10px 10px 10px 0;
    overflow-x:auto; /* Enable horizontal scrolling */

}
.responseContent {
    display: flex;
    flex-direction: column;
    overflow-x:auto;
}
.responseContent.timestamp {
    text-align: right;
    font-size: 12px;
    color: #666;
}

.chatBubble {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 28px 28px 0 28px;
}

.userMessage {
    align-self: flex-end;
    background-color: #0071C5;
    border-radius: 10px 10px 0 10px;
    padding: 15px;
    max-width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.userTimestamp {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #FFFFFF;
}

.loader {
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
.whiteLoader {
    width: 50px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #FFFFFF 90%, #FFFFFF00);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loaderHeading{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    margin: 0;
}
.loaderHeadingDark{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    margin: 0;
}
.timestamp {
    font-size: 12px;
    color: #666;
    text-align: right;
}

.responseButton {
    padding: 8px 8px;
    border-radius: 9px;
    cursor: pointer;
}
