<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openbot">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="false"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/openbot_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/openbot_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="org.openbot.NetworkActivity"
            android:label="@string/activity_name"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />

        </activity>

        <service
            android:name="org.openbot.SensorService"
            android:enabled="true"
            android:launchMode="singleTask" />

    </application>
</manifest>
