.Edit {
    border: none;
    background-color: #2e8fd6;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-family: "Gilroy-SemiBold", serif;

}

.Edit:focus, .Edit:focus {
    outline: none;
}

.option {
    width: 263px;
    height: 117px;
    position: absolute;
    top: 70px;
    left: 35em;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding-top: 29px;
    padding-left: 35px;
}

.item {
    color: #0071C5;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.icon {
    width: 24px;
    height: 24px;
}