#blocklyDiv {
    position: fixed;
    color: #000000;
    background-color: white;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding-top: 3rem;
    border-right: 0.5px solid black;
    height: 100%;
    position: relative;
    left: 0;
    bottom: 10px;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    margin-bottom: 0;
    height: 2.5rem;
    line-height: 2.5rem;
}


.blocklyFieldToggle text {
    fill: white !important;
}

.field-toggle-on {
    fill: #4ddc64 !important;
}

.field-toggle-off {
    fill: #95a5a6 !important;
}

.blocklyDropDownMenu .goog-menuitem {
    border-radius: 50px; /* Adjust the value to achieve the desired ellipse shape */
}

.blocklyMenuItemSelected .blocklyMenuItemCheckbox {
    background: url("../../assets/images/icon/blockly-icons.png") no-repeat -48px -16px;
}


/*.zelos-renderer.dark-theme .blocklyText{*/
/*    fill: white;*/
/*}*/

/*.zelos-renderer.light-theme .blocklyText{*/
/*    fill: black;*/
/*}*/
