
.whiteFont {
    color: #f2f2f2;
    font-family: 'Gilroy-Regular', serif;
}

.blackFont {
    font-size: 18px;
    font-family: 'Gilroy-Regular', serif;
}

.BlackTextDarkFont {
    color: #FFFFFF
}

.BlackTextLightFont {
    color: #000000;
}

.blueFont {
    color: #0071C5;
    font-family: 'Gilroy-Regular', serif;
}

@media (max-width: 768px) {
    .blackFont{
        font-size: 12px;
    }

}