
.whiteFont{
    color: #F8F9FB;
    font-family: 'Gilroy-Regular', serif;
}

.blackFont{
    color: #000000;
    font-family: 'Gilroy-Regular', serif;
}

.blueFont{
    color: #0071C5;
    font-family: 'Gilroy-Regular', serif;
}