.footer{
    background-color: rgba(229, 241, 252, 0.57);
    margin-top: 8rem;
    margin-bottom: 0vw;
    width: 100vw;
    bottom:0;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}

.tos{
    font-family: "Gilroy";
    font-style: normal;
    font-size: 1.388vw;
    line-height: 1.66vw;
    color: #000000;
}

.pp{
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 1.388vw;
    line-height: 1.66vw;
    color: #000000;
}

.rules ,ul{
    align-items: center;
    display: flex;
}

.rules ,li{
    list-style: none;
    margin: 0px 15px;

}

.media ,ul{

    display: flex;
    align-items: center;
}

.media ,li{
    list-style: none;
    margin: 0px 15px;
}
