.Main {
    display: flex;
    width: 100%;
}

.model {
    width: 464px;
    height: 246px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 15px;
    border-radius: 6px;
    outline: none;
}

.ModelHeading {
    font-family: Gilroy-Regular, sans-serif;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-top: 1.7rem;
    padding-left: 2.2rem;
}

.Input {
    font-family: Gilroy-Regular, sans-serif;
    font-size: 1.2rem;
    line-height: 21px;
    padding-top: 31px;
    padding-left: 35px;
}

.btnGroup {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    margin-top: 67px;
    padding-right: 40px;
}

.CancelBtn {
    width: 133px;
    height: 46px;
    border-radius: 7.7px;
    font-family: Gilroy-SemiBold, sans-serif;
    color: rgb(0, 113, 197);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border: 1.5px solid rgb(0, 113, 197);
}

.DeleteBtn {
    width: 136px;
    height: 49px;
    border-radius: 7.7px;
    font-family: Gilroy-SemiBold, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.darkDeleteModel {
    background-color: #303030;
    color: #FFFFFF;
}

.lightDeleteModel {
    background-color: #FFFFFF;
    color: #202020;
}

.darkInputModel{
    color: #FFFFFF;
    opacity: 0.5;
}
.lightInputModel{
    color: #202020;
    opacity: 0.5;
}
