<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScanFilterIsPanelOpen</key>
	<true/>
	<key>ScanFilterName</key>
	<string></string>
	<key>ScanFilterIsNameExact</key>
	<false/>
	<key>ScanFilterIsNameCaseInsensitive</key>
	<true/>
	<key>ScanFilterRssiValue</key>
	<integer>-100</integer>
	<key>ScanFilterIsUnnamedEnabled</key>
	<true/>
	<key>ScanFilterIsOnlyWithUartEnabledKey</key>
	<false/>
	<key>ScanMultiConnectIsPanelOpenKey</key>
	<false/>
	<key>UpdateServerUrl</key>
	<string>https://raw.githubusercontent.com/adafruit/Adafruit_BluefruitLE_Firmware/master/releases.xml</string>
	<key>UpdateShowBetaVersions</key>
	<false/>
	<key>UpdateIgnoredVersion</key>
	<string></string>
	<key>InfoRefreshOnLoad</key>
	<true/>
	<key>UartReceivedDataColor</key>
	<string>#ff0000</string>
	<key>UartSentDataColor</key>
	<string>#0000bb</string>
	<key>UartIsDisplayModeTimestamp</key>
	<false/>
	<key>UartIsInHexMode</key>
	<false/>
	<key>UartIsEchoEnabled</key>
	<true/>
	<key>UartIsAutomaticEolEnabled</key>
	<true/>
	<key>UartShowInvisibleChars</key>
	<false/>
	<key>UartEolCharactersId</key>
	<integer>0</integer>
	<key>NeopixelIsSketchTooltipEnabledKey</key>
	<true/>
	<key>NeopixelIsUsingStandardBoardsKey</key>
	<true/>
	<key>NeopixelStandardBoardIndexKey</key>
	<integer>0</integer>
	<key>NeopixelLineBoardLengthKey</key>
	<integer>8</integer>
	<key>NeopixelComponentsKey</key>
	<string>82</string>
	<key>NeopixelIsUsing400KhzKey</key>
	<false/>
	<key>MagnetometerGapTarget</key>
	<integer>15</integer>
	<key>MagnetometerWobbleTarget</key>
	<real>4.5</real>
	<key>MagnetometerVarianceTarget</key>
	<integer>4</integer>
	<key>MagnetometerFitErrorTarget</key>
	<integer>5</integer>
	<key>GyroReadingsCount</key>
	<integer>50</integer>
	<key>GyroReadingsMaxDifferenceToBeStable</key>
	<integer>60</integer>
	<key>GyroUnitsId</key>
	<integer>0</integer>
	<key>VisualizationXAxisInverted</key>
	<false/>
	<key>VisualizationYAxisInverted</key>
	<false/>
	<key>VisualizationZAxisInverted</key>
	<false/>
	<key>VisualizationXAxisFlipped</key>
	<false/>
	<key>VisualizationYAxisFlipped</key>
	<false/>
	<key>VisualizationZAxisFlipped</key>
	<false/>
	<key>MagnetometerType</key>
	<integer>0</integer>
	<key>GyroscopeType</key>
	<integer>0</integer>
	<key>AccelerometerType</key>
	<integer>0</integer>
	<key>VisualizationSwitchYZ</key>
	<true/>
	<key>ImageTransferInterleavedWithoutResponseCountKey</key>
	<integer>50</integer>
	<key>IsColorSpace24BitKey</key>
	<false/>
</dict>
</plist>
