<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955078484078-kq5d4bbjh05qdksr433k1ugakgspk8ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955078484078-kq5d4bbjh05qdksr433k1ugakgspk8ee</string>
	<key>API_KEY</key>
	<string>AIzaSyCMmaGPZ7rWxQXPIFU0zf9EKM82jH9kn2M</string>
	<key>GCM_SENDER_ID</key>
	<string>955078484078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emboidedai.openbot</string>
	<key>PROJECT_ID</key>
	<string>opencode-openbot</string>
	<key>STORAGE_BUCKET</key>
	<string>opencode-openbot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955078484078:ios:13f2678949d5395a65867f</string>
</dict>
</plist>