.Content {
    justify-content: space-between;
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
    padding-right: 7.4%;
    align-items: center;
}
.HeadingContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 7.8%;
}

.DragAndDropHeading {
    font-family: 'Gilroy-SemiBold', serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.DragAndDropContent {
    font-family: 'Gilroy-Regular', serif;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: left;
    width: 88%;
}

.ImageDrag {
    width: 20.3% !important;
}

.ImageSave {
    width: 35.5% !important;
    height: 374px;
}

.MainDark {
    color: #FFFFFF;
}

.MainLight {
    color: #000000;
}

.SaveAndDownloadContent {
    font-family: 'Gilroy-Regular', serif;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    width: 82%;
}

[class~=control-dots ] {
    background-color: transparent;
    bottom: -10px !important;
    display: flex;
    height: 50px;
    margin: -39px 0 !important;
    align-items: center;
    justify-content: center;
}

[class~=dot ] {
    width: 10px !important;
    height: 10px !important;
    background-color: #0071C5 !important;
    box-shadow: none !important;
}

[class~=thumbs-wrapper ] {
    display: none;
}

[class~=carousel-slider]{
    height: 45.3vh;
}
[class~=control-arrow ] {
    display: none;
}

[class~=carousel-status ] {
    display: none;
}

[class~=carousel-slider] {
    overflow: inherit !important;
}

